.coins {
  &__logo-box {
  }

  &__logo:not(:first-child) {
    margin-left: 2rem;
  }

  &__logo {
    width: 5.3rem;
    height: 5.2rem;
    background: #ffffff;
    padding: 1.3rem 1.7rem;
    border-radius: 1.4rem;
    display: inline-block;
    box-shadow: $mild-shadow;
  }

  &__logo--bitcoin {
    @include linear($color-secondary, $color-secondary-dark);
  }
  &__logo--etherum {
    @include linear($color-primary, $color-primary-dark);
  }
  &__logo--add {
    box-shadow: none;
    background: none;
    border: 2px dotted $color-text-secondary;
    padding: 1.3rem 1rem;
    fill: $color-text-secondary;
  }
}
