.switch-button {
  @include linear($color-primary, $color-primary-dark);
  color: white;
  font-weight: 800;

  padding: 0.3rem;
  display: inline-flex;
  border-radius: 100px;

  &__input {
    display: none;
  }

  &__label {
    font-size: 1.1rem;
    border-radius: 100px;
    padding: 0.6rem 2.3rem;
    transition: all 0.2s;

    @media (max-width: 25.875em) {
      font-size: 1.2rem;
    }
  }

  &__input:checked + label {
    background: white;
    color: $color-primary;
  }
}
