body {
  display: flex;
  align-items: stretch;
  background-color: $color-body;
}

.main-content {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;

  padding: 4rem 3.5rem 10rem;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;

  & > * {
    flex: 0 0 100%;
  }
}

.sidebar-wrapper {
  position: relative;
  flex: 0 0 24rem;
}
