body {
  display: flex;
  align-items: stretch;
  background-color: $color-body;
}

.main-content {
  width: 100%;
  height: auto;
  margin: 4rem;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;

  & > * {
    flex: 0 0 100%;
  }
}

.statistics {
}
