body {
  display: flex;
  align-items: stretch;
  background-color: $color-body;
}

.main-content {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;

  padding: 4rem 3.5rem 10rem;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;

  & > * {
    flex: 0 0 100%;
  }

  @include mq($bp-large) {
    padding: 13rem 3rem 10rem;
  }
}

.sidebar-wrapper {
  position: relative;
  flex: 0 0 24rem;

  @include mq($bp-large) {
    flex: none;
  }
}

//////////////////////////////////////////////////
// MOBILE MENU
/////////////////////////////////////////////////
.mobile-menu {
  display: none;

  @include mq($bp-large) {
    display: initial;
    position: absolute;
    top: 3rem;
    left: 5rem;
    font-size: 2rem;
    color: white;
    padding: 1rem;

    cursor: pointer; //TODO: change this in touchscreen

    @include linear($color-primary, $color-primary-dark);

    &:active {
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.24);
    }

    &__icon {
    }
  }
}
