.mb-average {
  margin-bottom: 3rem;
}
.mt-average {
  margin-top: 3rem;
}

.text-grey {
  color: $color-text-secondary !important;
}
.text-teal {
  color: #2ae5aa !important;
}
.text-red {
  color: #ee4f4f !important;
}


.noscroll{
  overflow: hidden;
}