$color-primary: #5482f7;
$color-primary-dark: #205df9;
$color-secondary: #ffbe46;
$color-secondary-dark: #ff7704;
$color-tertiary: #09d197;
$color-tertiary-dark: rgb(6, 218, 136);
$color-sidebar: #f0edf7;
$color-body: #f8f8fd;
$color-text-primary: #191f5d;
$color-text-secondary: #b1b1b1;

$mild-shadow: 0px 3px 30px -2px rgba(0, 0, 0, 0.1);

/////////////////////////////////////////////////////////////////////////////////////////////
// MEDIA BREAKPOINT
$bp-largest: 100em; // 1600px
$bp-sidebar-hide: 78.125em; // 1250px
$bp-stock-cards: 65.625em; // 1050px
$bp-stock-cards-small: 48em; // 768px
$bp-task: 55em; // 880px
$bp-smallest: 23.125em; // 370px
