.coins {
  width: 100%;
  display: flex;
  flex-direction: column;

  & > * {
    margin-top: 2rem;
  }

  &__title-box {
    margin-top: 0;
  }

  &__logo-box {
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 2rem;
    display: flex;
  }

  .share-box {
    display: flex;
    width: 100%;
    align-items: center;
  }

  .share-card {
    width: 32%;
    height: 20rem;
    align-items: flex-start;
    display: flex;

    &:nth-child(2) {
      margin-left: 1%;
      margin-right: auto;
    }
  }

  .pull-content-to-flex-start {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;
  }

  .share-box__visa-box {
    width: 32%;
    height: auto;
    margin-top: -5rem;
  }

  .visa-box__title {
    font-size: 1.5rem;
    font-weight: 800;
    color: $color-text-primary;
  }
}
