.operation-card {
  height: auto;
  max-width: 42rem;
  box-shadow: $mild-shadow;
  border-radius: 1.3rem;
  list-style: none;
  padding: 2rem 1.7rem;
  background-color: white;

  &__operation {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
  }

  &__operation:not(:first-child) {
    margin-top: 1rem;
  }

  &__operation-details {
    margin-right: auto;
    margin-left: 2rem;
  }

  &__operation-name {
    font-weight: 800;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
    color: $color-text-primary;
  }

  &__operation-date {
    color: rgb(204, 204, 204);
    font-size: 1.1rem;
    font-weight: 800;
  }

  &__operation-amount {
    font-size: 1.4rem;
    font-weight: 800;
  }
}
