.sidebar {
  flex: 0 0 24.5rem;
  min-height: 100vh;

  background-color: $color-sidebar;
  border-right: 1px solid #e8e8e8;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__brand {
    margin-top: 4.5rem;
    margin-bottom: 9rem;
    text-decoration: none;
    text-align: center;
  }

  &__nav {
    font-size: 1.4rem;
    font-weight: 700;
    padding-left: 3rem;
  }
}
